body {
	background-color: #cfd8dc;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
}

#app {
	color: #37474f;
	margin-top: 60px;
	text-align: center;
}

h1 {
	margin: 40px 0 0;
}

img {
	max-width: 128px;
}
